
/* body{
    margin: 0 auto;
    width:960px ;
    height: 100%;
display: flex;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
} */
/* footer{
    position: relative;
    clear: left;
    text-align: center;
    justify-content: end;
} */
*{
    box-sizing: border-box;
}